<!-- todo lo saque de aca y lo fui modificando https://www.w3schools.com/html/html_table_sizes.asp -->

<table>
    <tr>
        <a href=""><td>{{contacto().firstName}}</td></a>
        <td class="center">{{contacto().number}}</td>
        <td>{{contacto().email}}</td>
        <td id="small-cell">✔️</td>
        <td><button class="fondo-azulclaro" (click)="opendeletemodal()">-</button>
            <a [routerLink]="['/edit-contact/',contacto().id,]">Editar</a>
        </td>
    </tr>
</table>

    
<!-- lista original hecha en clases
<li>
    <span>{{contacto().firstName}}</span>
    <span>{{contacto().number}}</span>
    <span>{{contacto().email}}</span>
    <span>-</span>
    @if (contacto().company === true) {
    ⭐
    }
    <span>-</span> 
</li> -->