body{
    margin-left: 150px;
}

table{
    table-layout: fixed;
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
    /* hace que los bordes redondeados se apliquen bien */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 15px;
}

th {
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

/* Celdas */
td {
    padding: 10px 15px;
    text-align: left;
}

#add-contact-button{
    color: #fff;
    font-size: larger;
    border-radius: 25px;
    border-style: none;
    position: relative;
    left: 1250px;
    bottom: 65px;
    margin: 0;
    padding: 12px;
}

div{
    height: 50px;
}

#new-contact-form{
    width: 100px;
    height: 100px;
}

marker{
    display: none;
}

    // .menu {
    //   list-style: none;
    //   padding: 0;
    // }

    // .menu li {
    //   position: relative;
    //   display: inline-block; /* O como necesites para el layout */
    // }

    // .submenu {
    //   display: none; /* Oculto por defecto */
    //   position: absolute;
    //   top: 100%; /* Debajo del elemento padre */
    //   background-color: #f9f9f9; /* Ejemplo */
    // }

    // .menu li:hover .submenu {
    //   display: block; /* Mostrar al pasar el ratón */
    // }