<div>
    <!--Inspiracion para la barra lateral https://www.w3schools.com/css/css_navbar_vertical.asp -->
    <header>

    </header>
    <div id="mySidebar" class="sidebar" [ngStyle]="{ 'width': isSidebarOpen ? '250px' : '0' }">     <p>Agenda de Contactos</p>
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <ul>
            <li>
                <a routerLink="contact-pages">Home</a>
            </li>
            <li>
                <a routerLink="">Grupos</a>
            </li>
            <li>
                <a (click)="openLogoutModal()" routerLink="/login">logout</a><script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            </li>
        </ul>
    </div>
    <div id="main" >
        <button class="openbtn" (click)="openNav()">&#9776;</button>
    </div>
</div>
<router-outlet />