<section class="alineado">
    <div>
        <div class="card redonda centrado fondo-azulclaro margin-up-200">
            <div class="achicador">
                <img class="small-pic" id="conntact-img-position" src="contact-logo.png" alt="">
            </div>
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <input id="email" name="email" type="email" id="email" ngModel #email="ngModel" required="true"
                    autocomplete="email" class="centrado margin-up-down-5 redonda padding-5 no-border" type="text"
                    matInput type="email" placeholder="user">
                @if (email.invalid && !email.pristine) {
                <p class="error">Debe colocar un correo electrónico.</p>
                }
                <input class="centrado margin-up-down-12 redonda padding-5 no-border" type="password" id="password"
                    name="password" type="password" ngModel #password="ngModel" minlength="4"
                    autocomplete="current-password" placeholder="password">
                @if (password.invalid && !password.pristine) {
                <p class="error">Debe colocar una contraseña de al menos 4 caracteres.</p>
                }

                <p class="margin-up-down-5">¿No tenes cuenta?</p>
                <a class="margin-down-12" href="register">registrate acá</a><!-- aca va el link al register -->
                <div class="centrado">
                    <!-- va a remplazar al link en un futuro <input  class="imput-btns border-circular small-button" href="contact-pages" type="button" value="login"> -->
                    <button class="imput-btns border-circular small-button" value="login" type="submit">Login</button>
                    @if(isLoading){
                    <app-spinner *ngIf="isLoading"></app-spinner>
                    }
                    @if (errorLogin) {
                    <p class="error">Datos de sesión incorrectos, intente nuevamente.</p>
                    }
                </div>
            </form>
        </div>
    </div>
</section>